<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
    <!-- May need to remove this section-->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    <!-- Down to here............................. -->
      <a class="navbar-brand" href="#">News-Scraper</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
        <li><a href="/saved">Saved Articles</a></li>
      </ul>
      <form action="/scrape" method="GET">
        <button type="submit" onclick="myFunction()" class="btn btn-danger navbar-btn">Scrape New Articles!</button>
      </form>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="jumbotron main-banner">
      <h1 class="text-center">NEWS-SCRAPER</h1>
       <p class="text-center">New York Times Edition</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">ARTICLES SCRAPED</div>
        <div class="panel-body">
          {{#each articles}}
          <div class="panel panel-default">
            <div class="panel panel-heading">
              <p>{{title}}</p>
            </div>
            <div class="panel-body">
              <a target="_blank" href={{link}}>{{link}}</a>
              <form class=pull-right action="/{{this.id}}?_method=PUT" method="POST">
                <input type="hidden" name="id" value="{{this.id}}">
                <button type="submit" id="save" margin="20px" class="btn btn-success">SAVE</button>
              </form>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
<!--       <div class="row">
          <div id="articles"></div>
      </div> -->
    </div>
  </div>
</div>
<script>
function myFunction(data) {
    location.reload();
}
</script>


